{% extends 'admin_index.html' %}

{% block content %}
    <table width="800px" border="0" cellspacing="2" bordercolor="#1A5CC8" align="center" style="border-bottom:#0066FF 1px dashed" class="table_text">
		<tbody>
        <tr align="center" class="table_header">
			<td width="50" height="25">TeamId</td>
			<td width="50" height="25">EnglishName</td>
            <td width="50" height="25">ChineseName</td>
			<td width="120" class="fixedsize">School</td>
		</tr>
        {% for tl in team_list %}
        <tr align="center" class="table_text" {% cycle '' 'bgcolor="#D7EBFF"' %}>
            <td width="50" height="25">team{{ tl.id }}</td>
			<td width="50" height="25">{{ tl.english_name }}</td>
            <td width="50" height="25">{{ tl.chinese_name }}</td>
			<td width="120" class="fixedsize">{{ tl.school }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

