{% extends 'ranklist.html' %}

{% block link %}
    <table width="800px" align="center">
		<tbody>
			<tr>
				<td width="25%" align="left"><a href="/ranklist/" style="font-size:13px;color:#1a5cc8;">Show All Teams</a></td>
			</tr>
		</tbody>
	</table>
{% endblock %}
{% block board %}
    <form name="set_concern" method="post">
    {% csrf_token %}
    <table width="800px" border="0" cellspacing="2" bordercolor="#1A5CC8" align="center" style="border-bottom:#0066FF 1px dashed" class="table_text">
		<tbody>
        <tr align="center" class="table_header">
			<td width="50" height="25"></td>
			<td width="120" class="fixedsize">UserName</td>
			<td width="120" class="fixedsize">School</td>
		</tr>
        {% for ts in standing %}
        <tr align="center" class="table_text" {% cycle '' 'bgcolor="#D7EBFF"' %}>
            <td height="25"><input type="checkbox" value="{{ ts.teamId }}" name="concern_list" {% if ts.concern %}checked{% endif %}></td>
            <td width="120" class="fixedsize">{{ ts.teamChName }}</td>
            <td width="120" class="fixedsize">{{ ts.school }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <input name="Submit" type="submit" value="Submit">
    <input name="Reset" type="button" value="Reset" onclick="window.location.href='/ranklist/reset_concern'">
    </form>
{% endblock %}