{% extends 'admin.html' %}

{% block body %}
    <div class="left">
        <div class="nav">
            <ul>
                <li><a href="/2ol5aCm/360916/PFxt3V/admIn/">Main Page</a></li>
                <li><a href="/2ol5aCm/360916/PFxt3V/admIn/team/reload">Reload Teams</a></li>
                <li><a href="/2ol5aCm/360916/PFxt3V/admIn/team">Team List</a></li>
            </ul>
        </div>
    </div>
    <div class="right">
        <br />{% block content %}{% endblock %}
    </div>
{% endblock %}
