{% extends 'admin_index.html' %}

{% block content %}
    <table width="800px" border="0" cellspacing="2" bordercolor="#1A5CC8" align="center" style="border-bottom:#0066FF 1px dashed" class="table_text">
		<tbody>
        <tr align="center" class="table_header">
			<td width="50" height="40" class="fixedsize">名称</td>
			<td width="120" class="fixedsize">操作</td>
		</tr>

        <tr align="center" class="table_text">
            <td width="50" height="40">获奖名单</td>
            <td>
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="no" value="1"/>
                    <input type="submit" value="导出" />
                </form>
            </td>
        </tr>

	<tr align="center" class="table_text">
            <td width="50" height="40">获奖数量汇总</td>
            <td>
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="no" value="4"/>
                    <input type="submit" value="导出" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

