{% extends 'ballon.html' %}

{% block body %}
    <br />
    <form name="login" method="post">
        {% csrf_token %}
        <table align="center">
        <tr>
            <td height="40"><span style="font-size: 14px">Username</span></td>
            <td><input type="text" name="username" value="{{ username }}"><br/></td>
        </tr>
        <tr>
            <td height="40"><span style="font-size: 14px">Password</span></td>
            <td><input type="password" name="password"><br/></td>
        </tr>
        </table>
        <br/>
        <b style="color: red">{% for er in errors %}{{ er }}<br/>{% endfor %}</b>
        <input type="submit" value="Login">
    </form>
{% endblock %}