<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head lang="zh-CN">
    <meta http-equiv=Content-Type content="text/html;charset=utf-8">
	<title></title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <script type="text/javascript">
function gettime(sec)
{
    hour = Math.floor(sec / 3600);
    minute = Math.floor((sec % 3600) / 60);
    second = Math.floor((sec % 3600) % 60);
    if(hour < 10) hour = '0' + hour;
    if(minute < 10) minute = '0' + minute;
    if(second < 10) second = '0' + second;
    return hour + ':' + minute + ':' + second;
}

function getsystime()
{
document.getElementById('systime').value = new Date('{{ now }}'.replace(/-/g,"/")) - new Date();
}

function showtime()
{
var start_time = new Date('{{ start_time }}'.replace(/-/g,"/"));
var end_time = new Date('{{ end_time }}'.replace(/-/g,"/"));
var diff = document.getElementById('systime').value;
var now = new Date(new Date().getTime()+ parseInt(diff));

var time;
if(now > end_time)
{
    time = end_time - start_time;
}
else if (now > start_time)
{
    time = now - start_time;
}
else
{
    time = start_time - now;
}
time /= 1000;

if(now < start_time)
{
    if(time > 900)
    {
        document.getElementById('hint').innerHTML = '场内准备，禁止入场';
    }
    else if(time <= 900 && time > 720)
    {
        document.getElementById('hint').innerHTML = '开始入场，严禁携带手机和其他电子设备';
    }
    else if(time <= 720 && time > 180)
    {
        document.getElementById('hint').innerHTML = '开始检查证件，请保持安静';
    }
    else if(time <= 180 && time > 30)
    {
        document.getElementById('hint').innerHTML = '开始发题，比赛即将开始，请做好准备！';
    }
    else if(time <= 30)
    {
        document.getElementById('time').style.color = 'red';
        document.getElementById('hint').innerHTML = '';
    }
    else
    {
        document.getElementById('hint').innerHTML = '';
    }
}
else
{
    time2 = (end_time - now) / 1000;
    if(time2 < 300 && time2 >= 0)
    {
        document.getElementById('time').style.color = 'red';
        document.getElementById('hint').innerHTML = '比赛即将结束，请选手们掌握好时间！！';
    }
    else if(time2 < 0)
    {
        document.getElementById('time').style.color = 'white';
        document.getElementById('hint').innerHTML = '比赛已结束';
    }
    else if(time <= 300)
    {
        document.getElementById('time').style.color = 'white';
        document.getElementById('hint').innerHTML = '比赛已开始';
    }
    else
    {
        document.getElementById('time').style.color = 'white';
        document.getElementById('hint').innerHTML = '';
    }
}
if(now < start_time)
document.getElementById('time').innerHTML = '-' + gettime(Math.ceil(time));
else
document.getElementById('time').innerHTML = gettime(Math.ceil(time)); //显示时间
setTimeout("showtime();", 300); //设定函数自动执行时间为 490 ms(约0.5s)

}

    window.onload=function(){ getsystime(); showtime();}
    </script>
</head>
<body bgcolor="#222222">
    <br/><br/><br/>
    <input type="hidden" id="systime">
    <h1 style="color:white">“浪潮杯”山东省第六届ACM大学生程序设计竞赛</h1>
    <h1 id="time" style="font-size:160px;color:white"></h1>
    <MARQUEE id="hint" scrollAmount=9 direction=left style="font-size:70px;color:white" width="800px">dosfjosifjiosjfio</MARQUEE>
</body>
</html>
